
/* Content area
****************************************************************************
*/

@import url('posts.css');
@import url('widgets.css');



/* Central content */
.content-area {
	background:white;
}

.site-main {
	margin: 0 6px;
	border-left: 6px #dab777 solid;
	border-right: 6px #dab777 solid;
	padding: 20px;
}


.site-main ul {
	margin-left: 20px;
}



/* Post styling */
.post {
	border-bottom:1px solid #004c18;
}

/* Adaptive design */
/* ==========================================================================*/
/*
* There are several resolutions used as gradations:
* <1050
* <700
* <400
*/

/* Some settings for our design to work */
.site-content {
	position: relative;
}



/* Adaptive design for Content-area */
/* =============================================================
* CONTENTAREA ADAPTIVE LAYOUT
*/

@media all and (min-width:1000px) {

	/* Content area options */
	.content-area{
		margin-left:250px;
		margin-right:250px;
	}

	/* Left sidebar */
	#secondary {
		position: absolute;
		width: 250px;
		top:0
	}

	/* Right sidebar */
	#third {
		position: absolute;
		width: 250px;
		top:0;
		right: 0;
	}

}


@media all and (max-width:1000px) {
	/* Content area options */
	.content-area{
		margin-left:250px;
	}

	/* Left sidebar */
	#secondary {
		position: absolute;
		width: 250px;
		top:0
	}

	/* Right sidebar */
	#third {
		position: relative;;
	}
}
