
/*
* Header
*/
@import "top-menu.css";

/* Set a height of main header */
.site-branding {
	height: 200px;
}






.menu-toggle {
	display: none;
}



/* Adaptive deisgn for HEADER */

/* Logo - left */
/* We construct on the top of wordpress theme
* TewntySixteen, just modify it by CSS.
* Our strategy - not to change anything in templates.
*/


/* Common styles */

.site-title{
	margin-top:20px;
}

.site-title a {
	display: block;
	width: 150px;
	height: 150px;
	text-indent: -1000px;
	background: url('../images/site-logo-left-150.png') no-repeat left top;
}



/* For screen    x > 1050px */

@media screen and (min-width:1050px) {
	/* Central sitename and slogan
	* here we css-modify default elements too
	*/

	/* Header container */
	.site-header-main{
		background:url('../images/site-header-bg-right.png') #fff no-repeat right top;
	}
	.site-title {
		display: inline-block;
		position: absolute;
		left:50px;
	}
	.site-description{
		position: absolute;
		margin-left:-320px;
		top:10px;
		left:50%;
		width:640px;
		height:150px;
		background:url('../images/site-logo-center-x150.png') no-repeat left top;
		text-indent: -10000px;
	}

}

/* x < 1050 */
@media all and (max-width:1050px){

	/* Header options */
	.site-header-main{
		background: #fff;
	}
		.site-title{
			display: block;
			position:absolute;
			left:50%;
			margin-left:-75px;
		}
		.site-description{
			display: none;
		}



}
