
/* Top menu */

.main-navigation{
	background:#004c18;
}

.main-navigation ul {
	/*
	font:times, georgia;
	*/
	list-style:none;
	text-align:center;
}

.main-navigation ul li {
	display:inline;
	/*
	text-transform:uppercase;
	*/
}

.main-navigation ul li a {
	color:white;
	font-size:13pt;
	display:inline-block;
	padding: 0 20px;
	text-decoration:none !important;

	border-image-source:url("../images/menu-bg-28.png");
	border-image-slice: 14 15;
	border-image-width: auto;
	border-image-outset: 1 14px;
	border-image-repeat: round;

	margin:7px;
 
	position: relative;
}

.main-navigation ul li a:hover {
	color:black;
	border-image-source:url("../images/menu-bg-sel-28.png");
	z-index: 999;
}
