/* POSTS */

/* Hide unneccesary elements */
/* ============================================== */
/*
.skip-link {
	display:none;
}
*/

/* Hide unwanted post data in wp-loop */

.post .cat-links {
	display: none;
}

.post .tags-links {
	display: none;
}

.post .comments-link {
	display: none;
}


.post .entry-footer .author {
	display:none;
}

.post .entry-content{
	margin-top:10px;
}

.post .entry-footer {
	margin-top:10px;
	font-size:.8em;
	color: #666;
}

.post .entry-footer a {
	color: #666;
}



.post .more-link {
    display:block;
}
